@media screen, projection {

.entry {
    padding-bottom: $single-line;
}

.entry-header {
    padding-bottom: $single-line;
}

.entry-title {
    font-size: $size-8;
}

.entry-content {
    padding-bottom: $half-line;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    zoom: 1;
}

.entry-content:before,
.clearfix:after {
    content: "";
    display: block;
}

.entry-content:after {
    clear: both;
}

.entry blockquote {
    margin: $half-line $double-line;
    padding-left: $half-line;
    border-left: $quarter-line solid $lgrey;
    font-size: $size-3;
}

.entry-content p,
.entry-content ol,
.entry-content ul,
.entry-content dd {
    margin-bottom: $half-line;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content dt {
    padding: $half-line 0 $quarter-line 0;
}

.entry-content h1,
.entry-content h2 {
    font-size: $size-6;
}

.entry-content h3,
.entry-content dt {
    font-size: $size-5;
}

.entry-footer {
    font-family: $secondary-font;
    padding-top: $quarter-line;
    color: $grey;
}


}
