@media screen, projection {

.pure-form-custom {
    margin-bottom: $half-line;
}

.pure-form-custom input[type="search"] {
    font-size: $size-3;
}

.pure-button-custom {
    font-size: $size-3 !important;
}

}
