@media screen, projection {

.pure-form-custom {
    margin-bottom: $half-line;
}

.pure-form-custom input {
    -webkit-appearance: none;
}

.pure-form-custom input[type="search"] {

    font-size: $size-3;
    font-family: $secondary-font;

    @media #{$bp} {
        font-size: $size-4;
    }
}

.pure-button-custom {

    font-size: $size-3 !important;
    font-family: $secondary-font;

    @media #{$bp} {
        font-size: $size-4 !important;
    }

}

}
