@media screen, projection {

	.g-row {
		clear: both;
		margin-bottom: $half-line;
	}

	.g-row:before,
	.g-row:after {
	    content: "";
		display: block;
	}

	.g-row:after {
	    clear: both;
	}

	.g-row {
	    zoom: 1;
	}

	// Anything with a class containing g-col or g-w-col is border box
	// And has some left and right padding

	*[class*='g-col'],
	*[class*='g-w-col'] {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
  		box-sizing: border-box;
		padding: 0 $half-line;
	}

	.g-col1 {
		width: 8.33333%;
	}

	.g-w-col1 {
		@media #{$bp} {
			width: 8.33333%;
		}
	}

	.g-col2 {
		width: 16.66666%;
	}

	.g-w-col2 {
		@media #{$bp} {
			width: 16.66666%;
		}
	}

	.g-col3 {
		width: 24.99999%;
	}

	.g-w-col3 {
		@media #{$bp} {
			width: 24.99999%;
		}
	}

	.g-col4 {
		width: 33.33332%;
	}

	.g-w-col4 {
		@media #{$bp} {
			width: 33.33332%;
		}
	}

	.g-col5 {
		width: 41.66666%;
	}

	.g-w-col5 {
		@media #{$bp} {
			width: 41.66666%;
		}
	}

	.g-col6 {
		width: 49.99999%;
	}

	.g-w-col6 {
		@media #{$bp} {
			width: 49.99999%;
		}
	}

	.g-col7 {
		width: 58.33333%;
	}

	.g-w-col7 {
		@media #{$bp} {
			width: 58.33333%;
		}
	}

	.g-col8 {
		width: 66.66666%;
	}

	.g-w-col8 {
		@media #{$bp} {
			width: 66.66666%;
		}
	}

	.g-col9 {
		width: 74.99999%;
	}

	.g-w-col9 {
		@media #{$bp} {
			width: 74.99999%;
		}
	}

	.g-col10 {
		width: 83.33333%;
	}

	.g-w-col10 {
		@media #{$bp} {
			width: 83.33333%;
		}
	}

	.g-col11 {
		width: 91.66666%;
	}

	.g-w-col11 {
		@media #{$bp} {
			width: 91.66666%;
		}
	}

	.g-col12 {
		width: 100%;
	}

	.g-w-col12 {
		@media #{$bp} {
			width: 100%;
		}
	}

	.g-left {
		float: left;
	}

	.g-w-left {
		@media #{$bp} {
			float: left;		}
	}

	.g-right {
		float: right;
	}

	.g-w-right {
		@media #{$bp} {
			float: right;
		}
	}

	.g-align-right {
		text-align: right;
	}

	.g-w-align-right {
		@media #{$bp} {
			text-align: right;
		}
	}

}
