@media screen, projection {

.hero-splash {
    position: relative;
    margin-bottom: $single-line;
}

.hero-splash-text {
    position: absolute;
    top: 0;
    right: 0;
}

.hero-splash-text p {
    padding: $eighth-line $half-line;
    font-size: $size-3;
    background-color: $dark;
    opacity: 0.9;
    color: $light;
}

.hero-splash-text-home p {
    background-color: $corporate;
}

}
