@media screen, projection {

.icon {
    padding-left: 1.2em;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1em;
}

/* White icons with purple fill */

.icon-home-white {
    background-image: url('images/home-white.svg');
}

.icon-search-white {
    background-image: url('images/search-white.svg');
}

.icon-lock-white {
    background-image: url('images/lock-white.svg');
}

.icon-card-white {
    background-image: url('images/card-white.svg');
}

.icon-phone-white {
    background-image: url('images/phone-white.svg');
}

.icon-info-white {
    background-image: url('images/info-white.svg');
}

.icon-email-white {
    background-image: url('images/email-white.svg');
}

.icon-map-white {
    background-image: url('images/map-white.svg');
}

.icon-tablet-white {
    background-image: url('images/tablet-white.svg');
}

.icon-library-white {
    background-image: url('images/library-white.svg');
}

.icon-calendar-white {
    background-image: url('images/calendar-white.svg');
}

.icon-bus-white {
    background-image: url('images/bus-white.svg');
}

.icon-book-white {
    background-image: url('images/book-white.svg');
}

.icon-pen-white {
    background-image: url('images/pen-white.svg');
}

.icon-people-white {
    background-image: url('images/people-white.svg');
}

.icon-facebook-white {
    background-image: url('images/facebook-white.svg');
}

.icon-twitter-white {
    background-image: url('images/twitter-white.svg');
}


/* Black icons with white fill */

.icon-home {
    background-image: url('images/home.svg');
}

.icon-search {
    background-image: url('images/search.svg');
}

.icon-lock {
    background-image: url('images/lock.svg');
}

.icon-card {
    background-image: url('images/card.svg');
}

.icon-phone {
    background-image: url('images/phone.svg');
}

.icon-info {
    background-image: url('images/info.svg');
}

.icon-email {
    background-image: url('images/email.svg');
}

.icon-map {
    background-image: url('images/map.svg');
}

.icon-tablet {
    background-image: url('images/tablet.svg');
}

.icon-library {
    background-image: url('images/library.svg');
}

.icon-calendar {
    background-image: url('images/calendar.svg');
}

.icon-bus {
    background-image: url('images/bus.svg');
}

.icon-book {
    background-image: url('images/book.svg');
}

.icon-pen {
    background-image: url('images/pen.svg');
}

.icon-people {
    background-image: url('images/people.svg');
}

.icon-facebook {
    background-image: url('images/facebook.svg');
}

.icon-twitter {
    background-image: url('images/twitter.svg');
}

}
