@media screen, projection {

.icon {
    padding-left: 1.2em;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1em;
}

/* White icons with purple fill */

.icon-home-white {
    background-image: url('images/home-white.svg');
}

.icon-search-white {
    background-image: url('images/search-white.svg');
}

.icon-lock-white {
    background-image: url('images/lock-white.svg');
}

.icon-card-white {
    background-image: url('images/card-white.svg');
}

.icon-phone-white {
    background-image: url('images/phone-white.svg');
}

.icon-info-white {
    background-image: url('images/info-white.svg');
}

.icon-email-white {
    background-image: url('images/email-white.svg');
}

/* Black icons with white fill */

.icon-home {
    background-image: url('images/home.svg');
}

.icon-search {
    background-image: url('images/search.svg');
}

.icon-lock {
    background-image: url('images/lock.svg');
}

.icon-card {
    background-image: url('images/card.svg');
}

.icon-phone {
    background-image: url('images/phone.svg');
}

.icon-info {
    background-image: url('images/info.svg');
}

.icon-email {
    background-image: url('images/email.svg');
}

}
