@media screen, projection {

.icon {
    padding-left: 1.2em;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1em;
}

.icon-home {
    background-image: url('images/home.svg');
}

.icon-search {
    background-image: url('images/search.svg');
}

.icon-lock {
    background-image: url('images/lock.svg');
}

.icon-card {
    background-image: url('images/card.svg');
}

}
