@media screen, projection {

.h-nav-item {
    padding: 0 0 $half-line 0;
    list-style-type: none;

    @media #{$nbp} {
        display: inline;
        margin-right: $single-line;
        padding: 0;
    }

}

.h-nav-item-strong-link {
    font-weight: bold;
}

}
