@media screen, projection {

.reversed {
    background-color: $dark;
    color: $light;
}

.reversed a:link,
.reversed a:visited {
    color: $light;
}

.reversed a:hover,
.reversed a:active,
.reversed a:focus {
    color: $hover;
    text-decoration: underline;
}

.reversed-light {
    background-color: $lgrey;
    color: $dark;
}

}
