@media screen, projection {

.slot {
    margin-bottom: $line-and-a-half;
}

.slot-title {
    font-size: $size-5;
    margin-bottom: $eighth-line;
}

.slot-meta {
    padding-bottom: $half-line;
}

}
