@media screen, projection {

.sub-nav:before,
.sub-nav:after {
    content: "";
    display: block;
}

.sub-nav:after {
    clear: both;
}

.sub-nav {
    zoom: 1;
}

.sub-nav {
    margin: -2px 0 -7px 0;
    padding: $quarter-line 0 $three-quarter-line 0;

    @media #{$nbp} {
        padding: $quarter-line 0;
    }

}

.sub-nav li {
    display: inline;
    font-size: $size-3;
    text-transform: lowercase;
    font-variant: small-caps;
    margin-right: $three-quarter-line;

    @media #{$nbp} {
        margin-right: 0;
    }

}

.sub-nav li a {

    @media #{$nbp} {
        float: left;
        padding: $half-line;
    }

}

.sub-nav li.current_page_item a,
.sub-nav li.current-menu-item a,
.sub-nav li.current-menu-parent a,
.sub-nav li a:hover {
    background-color: $light;
    color: $dark;
}

}
