@media screen, projection {

.topbar {
    padding: $single-line 0;
    background-color: $lgrey;

}

.topbar a {
    color: $dark;
}

.topbar a:hover,
.topbar a:active,
.topbar a:focus {
    text-decoration: underline;
}

.topbar form {

    @media #{$bp} {
        margin-bottom: 0;
    }

}

.topbar-purple {
    border-bottom: 1px solid $corporate;

    @media #{$bp} {
        border-bottom: $quarter-line solid $corporate;
    }

}

.topbar-title {
    font-size: $size-4;
    line-height: $single-line;
    margin-bottom: $half-line;

    @media #{$bp} {
        margin-bottom: 0;
    }

}

.topbar-nav {
    font-size: $size-3;
}

}
