@media screen, projection {

.topbar {
    padding: $single-line 0;
    background-color: $dark;
    color: $lgrey;

}

.topbar a {
    color: $lgrey;
}

.topbar a:hover,
.topbar a:active,
.topbar a:focus {
    text-decoration: underline;
}

.topbar form {

    @media #{$bp} {
        margin: -$half-line 0 $single-line 0;
    }

}

.topbar #s {

    @media #{$nbp} {
        width: 20em;
    }

}

.topbar-purple {
    border-bottom: 1px solid $corporate;

    @media #{$bp} {
        border-bottom: $quarter-line solid $corporate;
    }

}

.topbar-title {
    font-size: $size-4;
    line-height: $single-line;
    margin-bottom: $half-line;
}

.topbar-nav {
    font-size: $size-3;

    @media #{$bp} {
        font-size: $size-4;
    }

}

}
