@media screen, projection {

.text-right {
    text-align: right;
}

.text-w-right {

    @media #{$bp} {
        text-align: right;
    }

}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.secondary {
    font-size: $size-3;
}

.weight-semib {
    font-weight: 600;
}

.weight-bold {
    font-weight: bold;
}

.weight-normal {
    font-weight: normal;
}

}
