// Styling classes set by WordPress

@media screen, projection {

// Pagination

.screen-reader-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.page-numbers {
    margin-right: $line-and-a-half;
    font-size: $size-3;
}


}
